<!DOCTYPE html>
<html ng-app="App">
<head >
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emad Obeidat - Fullstack Developer</title>
@*     <title>{{Profile.FName}} {{Profile.LName}}- {{Profile.Title}}</title>
 *@


    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<!--<!--<!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" href="~/Images/Icons/DedSec Sticker.tiff" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="~/Templates/ethemestudio.com/css2.css?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">




    <!-- All css here -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    <link rel="stylesheet" href="~/css/Templates/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Templates/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/css/Templates/flaticon.css">
    <link rel="stylesheet" href="~/css/Templates/animate.css">
    <link rel="stylesheet" href="~/css/Templates/aos.css">
    <link rel="stylesheet" href="~/css/Templates/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/css/Templates/slick.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="~/css/Templates/meanmenu.css">
    <link rel="stylesheet" href="~/css/Templates/default.css">
    <link rel="stylesheet" href="~/css/Templates/style.css">
    <link rel="stylesheet" href="~/css/Templates/responsive.css">




    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <!-- AngularJS (Load Once) -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-cookies.min.js"></script>

</head>
<body>

    <div class="container body-content">
        @RenderBody()

    </div>

    <!-- ================== All js here ================ -->
    <script src="~/js/Templates/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/js/Templates/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/js/Templates/popper.min.js"></script>
    <script src="~/js/Templates/bootstrap.min.js"></script>

    <!-- knob-js -->
    <script src="~/js/Templates/jquery-appear.js"></script>
    <script src="~/js/Templates/jquery-knob.js"></script>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>

    <script src="~/js/Templates/jquery.fancybox.min.js"></script>
    <script src="~/js/Templates/waypoint.js"></script>
    <script src="~/js/Templates/isotope.pkgd.min.js"></script>
    <script src="~/js/Templates/image-loaded.min.js"></script>
    <script src="~/js/Templates/counterup-min.js"></script>
    <script src="~/js/Templates/one-page-nav-min.js"></script>
    <script src="~/js/Templates/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>

    <!-- Map JS -->
    <script src="~/js/Templates/leaflet.js"></script>
    <script src="~/js/Templates/typer.js"></script>
    <script src="~/js/Templates/plugins.js"></script>
    <script src="~/js/Templates/ajax-form.js"></script>
    <script src="~/js/Templates/vanilla-tilt.min.js"></script>
    <script src="~/js/Templates/jquery.meanmenu.min.js"></script>
    <script src="~/js/Templates/main.js"></script>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>

    <script src="~/js/App.js"></script>


</body>
</html>
